@font-face {
    font-family: 'QuiteChocolatey';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Quite Chocolatey.ttf") format("truetype");
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: gray;
}
p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 28px;
}
h1 {
    font-family: 'QuiteChocolatey', serif;
    font-size: 83.32px;
    color: #d03958;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    line-height: 80px;
    margin-bottom: 39px;
    letter-spacing: -2px;
}
h2 span {
    color: #d03958;
}
h3 {
    font-size: 50px;
    letter-spacing: -2px;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #d03958;
}
#wrapper_inner {
    /*width: 75.7%;*/
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
#header {
    height: 693px;
    background: url(../img/header.png) no-repeat;
    background-size: cover;
}
.clear-float {
    clear: both;
}
#logo {
    float: left;
    padding-left: 100px;
    padding-top: 10px;
}
#menu {
    float: right;
    padding-right: 110px;
    padding-top: 55px;
}
#menu ul {
    list-style: none;
}
#menu ul li {
    display: inline;
    padding-left: 25px;
}
#menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
#menu li a:hover, #menu li {
    color: #fff;
}
#current {
    color: #fff;
}
#hedtext {
    float: left;
    padding-left: 100px;
    padding-top: 35px;
}
#hedtext p {
    font-size: 19px;
}
#form {
    float: right;
    width: 400px;
    height: 520px;
    margin-right: 80px;
    margin-top: 110px;
    background-color: #D03958;
}
#form h4 {
    padding-top: 5px;
    padding-right: 20px;
    text-align: center;
    color: #fff;
}
#form form {
    padding-top: 5px;
}
#form input[type=text] {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    width: 353px;
    height: 55px;
    margin: 4px 0 13px 21px;
    color: #000;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}
#form input[type=checkbox] {
    width: 19px;
    height: 18px;
    margin: -1px 0 0 18px;
    border-radius: 10px;
}
#form p {
    margin: 13px 0 0 10px;
    color: #fff;
}
#form input[type=button] {
    font-size: 22px;
    width: 350px;
    height: 55px;
    margin: 19px 0 0 23px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #161616;
}
#service-block {
    position: relative;
    height: 597px;
}
#service-block h3 {
    float: left;
    margin-top: -30px;
    padding-left: 100px;
}
#service-block h3 span {
    color: #d03958;
}
#service-image {
    width: 1040px;
    margin: 0 auto;
    padding-top: 60px;
}
.cart-service {
    width: 200px;
    padding: 0 30px;
    float: left;
    text-align: center;
}
#heart {
    background: url(../img/heart.png) no-repeat;
}
#tools {
    background: url(../img/tools.png) no-repeat;
}
#lamp {
    background: url(../img/lamp.png) no-repeat;
}
#navigation {
    background: url(../img/navigation.png) no-repeat;
}
#heart, #tools, #lamp, #navigation {
    width: 157px;
    height: 153px;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
}
#service-footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #D03958;
}
#service-footer p {
    float: left;
    padding-left: 105px;
    padding-top: 10;
    color: #fff;
}
#service-footer input {
    float: right;
    font-size: 20px;
    font-weight: 700;
    width: 269px;
    height: 64px;
    margin-top: 15px;
    margin-right: 50px;
    border: none;
    border-radius: 5px;
    background-color: #E3D5B8;
}
#pracing-block {
    display: block;
    height: 538px;
    background-color: #E3D5B8;
}
#pracing {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: bold;
    padding: 25px 0;
    text-align: center;
    letter-spacing: -2px;
    color: #000;
}
#price-pack {
    width: 1020px;
    margin: 0 auto;
}
#starter, #business, #profesional {
    float: left;
    width: 318px;
    height: 370px;
    margin-right: 20px;
    text-align: center;
    background-color: #FFFFFF;
}
#starter p, #business p, #profesional p {
    margin: 31px;
}
.name-pack {
    font-size: 22px;
}
.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #d03958;
}
#button-starter {
    background-color: #E9D6B8;
}
#button-business {
    color: #fff;
    background-color: #F13659;
}
#button-profesional {
    background-color: #E9D6B8;
}
#button-starter, #button-business, #button-profesional {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 205px;
    height: 49px;
    border: none;
    border-radius: 5px;
}
#info-block {
    background-color: #FFFFFF;
}
#info-block img {
    width: 125px;
    height: 125px;
}
#testimonial-block {
    float: left;
    padding-top: 160px;
    padding-left: 85px;
    padding-bottom: 120px;
    width: 550px;
}
#testimonial-block h3 {
    text-align: center;
    padding: 0;
    margin: 0;
}
#person-one {}
#person-info-one {
    float: left;
    padding-left: 20px;
    padding-top: 45px;
}
#person-info-one h5 {
    padding: 0;
    margin: 0;
}
#person-info-two {
    float: left;
    padding-left: 20px;
    border-radius: 5px;
    height: 145px;
    background-color: #E9D6B8;
}
#person-info-two h5 {
    padding: 0;
    margin: 0;
}
#person-one img {
    padding-top: 55px;
}
#person-two {
    margin-top: 55px;
}
#gallery {
    float: right;
    padding-top: 110px;
    padding-right: 60px;
    width: 400px;
    text-align: center;
}
#gallery h3 {
    color: #d03958;
}
#gallery a {
    font-size: 20px;
    color: #d03958;
}
#footer {
    width: auto;
    height: 180px;
    background-color: #0E0E0E;
}
#footer p {
    float: left;
    color: #fff;
    padding-left: 80px;
    padding-top: 50px;
}
#footer p span {
    color: #d03958;
}
#footer h1 {
    float: right;
    font-size: 64.36px;
    font-weight: 400;
    padding-right: 120px;
    padding-top: 40px;
}
@media (max-width: 1113.98px) {
    #header {
        height: auto;
    }
    #logo {
        float: left;
        padding-left: 30px;
        padding-top: 10px;
    }
    #menu {
        float: right;
        padding-right: 50px;
        padding-top: 50px;
    }
    #menu ul li {
        display: inline;
        padding-left: 10px;
    }
    #hedtext {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 80%;
        text-align: center;
    }
    h2 {
        font-size: 70px;
        line-height: 70px;
        letter-spacing: -2px;
    }
    #form {
        float: none;
        margin: 0 auto;
    }
    #service-block {
        height: 900px;
    }
    #service-block h3 {
        float: none;
        width: 370px;
        margin: 30px auto;
        padding-left: 0;
    }
    #service-image {
        width: 530px;
        margin: 0 auto;
        padding-top: 60px;
    }
    .cart-service {
        width: 200px;
        padding: 0 30px;
        float: left;
        text-align: center;
    }
    #service-footer {
        text-align: center;
    }
    #service-footer p {
        float: none;
        padding: 20px;
        color: #fff;
    }
    #service-footer input {
        float: none;
        margin: 10px auto;
    }
    #pracing-block {
        height: 930px;
    }
    #price-pack {
        width: 550px;
        margin: 0 auto;
    }
    #starter, #business, #profesional {
        float: left;
        width: 250px;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    #testimonial-block {
        float: left;
        padding: 0;
        margin: 60px auto;
        width: 600px;
    }
    #person-one img {
        padding-top: 10px;
    }
    #gallery {
        float: right;
        padding: 0;
        width: 400px;
    }
    #footer {
        height: 160px;
        text-align: center;
    }
    #footer p {
        float: none;
        color: #fff;
        padding: 0;
    }
    #footer h1 {
        float: none;
        font-size: 64.36px;
        font-weight: 400;
        padding-right: 0;
        padding-top: 0;
    }
}
@media (max-width: 767.98px) {
    #header {
        height: auto;
    }
    #logo {
        float: left;
        padding-left: 30px;
        padding-top: 10px;
    }
    #menu {
        float: right;
        padding-right: 10px;
        padding-top: 0;
    }
    #menu ul li {
        display: inline;
        padding-left: 10px;
    }
    #hedtext {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 80%;
        text-align: center;
    }
    h2 {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -2px;
    }
    #form {
        float: none;
        margin: 0 auto;
    }
    #service-block {
        height: 900px;
    }
    #service-block h3 {
        float: none;
        width: 370px;
        margin: 30px auto;
        padding-left: 0;
    }
    #service-image {
        width: 450px;
        margin: 0 auto;
        padding-top: 60px;
    }
    .cart-service {
        width: 200px;
        padding: 0 10px;
        float: left;
        text-align: center;
    }
    #service-footer {
        text-align: center;
    }
    #service-footer p {
        float: none;
        padding: 20px;
        color: #fff;
    }
    #service-footer input {
        float: none;
        margin: 10px auto;
    }
    #pracing-block {
        height: 1330px;
    }
    #price-pack {
        width: 300px;
        margin: 0 auto;
    }
    #starter, #business, #profesional {
        float: left;
        width: 300px;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    #testimonial-block {
        float: none;
        padding: 0;
        margin: 60px auto;
        width: 90%;
    }
    #person-one img {
        padding-top: 10px;
    }
    #gallery {
        float: none;
        padding: 0;
        margin: 100px auto;
        width: 400px;
    }
    #footer {
        height: 160px;
        text-align: center;
    }
    #footer p {
        float: none;
        color: #fff;
        padding: 0;
    }
    #footer h1 {
        float: none;
        font-size: 64.36px;
        font-weight: 400;
        padding-right: 0;
        padding-top: 0;
    }
}
@media (max-width: 575.98px) {
    #header {
        height: auto;
    }
    #menu {
        display: none;
        float: right;
    }
    #hedtext {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 280px;
    }
    h2 {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -2px;
    }
    #form {
        float: none;
        width: 300px;
        height: 450px;
        margin: 0 auto;
    }
    #form h4 {
        padding-top: 20px;
        padding-right: 0;
        text-align: center;
    }
    #form form {
        padding-top: 5px;
    }
    #form input[type=text] {
        width: 250px;
        height: 30px;
        margin: 10px 10%;
    }
    #form input[type=button] {
        width: 250px;
        height: 55px;
        margin: 19px 0 0 23px;
    }
    #service-block {
        height: 1400px;
    }
    #service-block h3 {
        float: none;
        width: 300px;
        margin: 30px auto;
        padding-left: 0;
        font-size: 40px;
    }
    #service-image {
        width: 250px;
        margin: 0 auto;
        padding-top: 60px;
    }
    #service-footer {
        text-align: center;
    }
    #service-footer p {
        float: none;
        padding: 20px;
        color: #fff;
    }
    #service-footer input {
        float: none;
        margin: 10px auto;
    }
    #pracing-block {
        height: 1320px;
    }
    #price-pack {
        width: 300px;
        margin: 0 auto;
    }
    #starter, #business, #profesional {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    #testimonial-block {
        float: none;
        padding: 0;
        margin: 60px auto;
        width: 95%;
    }
    #person-one img {
        padding-top: 10px;
    }
    #gallery {
        float: none;
        padding: 0;
        margin: 100px auto;
        width: 350px;
        text-align: center;
    }
    #gallery img {
        width: 100px;
        height: 100px;
    }
    #gallery table {
        width: 350px;
        margin: 0;
    }
    #footer {
        height: 160px;
        text-align: center;
    }
    #footer p {
        float: none;
        color: #fff;
        padding: 0;
    }
    #footer h1 {
        float: none;
        font-size: 64.36px;
        font-weight: 400;
        padding-right: 0;
        padding-top: 0;
    }
}