body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient( #033374, #2b0240);
    /*background-color: #000;*/
}
h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    /*letter-spacing: 2px;*/
}
p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.float-clear {
    clear: both;
}
#wrapper {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff;
}
header {
    height: 800px;
    background: url(images/headBG.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/bgafter.png) no-repeat;
    background-size: cover;
}
#header-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    z-index: 1;
}
#logo {
    width: 273px;
    height: 273px;
    margin: 70px auto;
    background: url(images/logo.png) no-repeat;
}
#header-content h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
}
#header-content span {
    display: block;
    font-weight: 700;
}
#zip-code-panel {
    width: 338px;
    height: 338px;
    margin: 0 auto;
    margin-top: 45px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.28);
    border-radius: 2px;
}
#zip-code-panel input {
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 5px;
    width: 262px;
    height: 34px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.09);
}
#zip-code-panel p {
    color: #000;
    text-align: center;
}
#image-list {
    width: 338px;
    height: 90px;
    margin: 0;
    padding: 0;
}
#image-list img {
    float: left;
    min-width: 67.6px;
}
#zip-code-panel button {
    width: 192px;
    height: 45px;
    border: none;
    border-radius: 2px;
    background-color: #227dd3;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
#boxes {
    width: 100%;
    height: 265px;
}
#boxes-content {
    width: 100%;
    margin-top: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
#boxes-content img {
    float: left;
    padding-right: 30px;
}
#boxes-content h2 {
    color: #000;
    font-size: 27px;
    font-weight: 600;
    padding: 0;
    padding-top: 5px;
    margin: 0;
}
#boxes-content p {
    color: #000;
    padding: 0;
    padding-top: 5px;
    margin: 0;
}
#documents {
    width: 470px;
}
#photos {
    width: 470px;
}
#section-one {
    background-color: #5fc18b;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
#section-one-content {
    width: 53%;
    margin-top: 90px;
    padding-bottom: 300px;
}
#section-one-content p {
    text-align: left;
    line-height: 23px;
}
#paragraph-padding {
    padding-top: 30px;
}
#section-two {
    background: url(images/bg.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: -400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
#section-two-content {
    width: 70%;
    margin-top: 350px;
    text-align: left;
}
#section-two-content img {
    float: left;
    padding-right: 50px;
}
#pk-content {
    float: left;
    width: 450px;
    padding-bottom: 150px;
}
#pk-content h3 {
    padding: 0;
    margin: 0;
}
#pk-content p {
    text-align: left;
    line-height: 23px;
}
#pk-content button {
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    width: 200px;
    height: 55px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}
#contact {
    background: url(images/map.png) no-repeat;
    background-size: cover;
    height: 635px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 30px;
}
#contact-content {
    background: url(images/Ellipse.png);
    width: 438px;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-form {
    border: 1px solid rgb(216, 216, 216);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    width: 279px;
    height: 35px;
    padding-left: 10px;
    margin: 10px auto;
}
form {
    width: 290px;
    padding-top: 20px;
}
#message {
    height: 84px;
}
#submit-button {
    width: 66px;
    height: 67px;
    border: none;
    border-radius: 50%;
    background: url(images/mark.png);
    margin-top: 20px;
}
footer {
    background-color: #43a06d;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    margin: 0;
    padding: 0;
}
@media (max-width: 1318.98px) {
    #wrapper {
        width: 100%;
    }
    #pk-content {
        width: 450px;
    }
}
@media (max-width: 1199.98px) {
    #wrapper {
        width: 100%;
    }
    #pk-content {
        width: 450px;
    }
    #boxes-content {
        width: 80%;
        margin: 0 auto;
        margin-top: 165px;

    }
    #documents {
        float: left;
    }
    #photos {
        float: left;
    }
}
@media (max-width: 767.98px) {
    #boxes-content {
        width: 50%;
        margin: 0 auto;
        margin-top: 165px;
        display: block;
    }
    #documents {
        float: left;
        padding-bottom: 20px;
    }
    #photos {
        float: left;
        padding-bottom: 20px;
    }
}
@media (max-width: 575.98px) {
    header {
        height: auto;
    }
    #logo {
        margin: 40px auto;
    }
    #header-content h1 {
        font-size: 30px;
    }
    #boxes-content {
        width: 99%;
        margin: 0 auto;
        margin-top: 100px;
        display: block;
    }
    #documents {
        float: left;
        padding-bottom: 20px;
        width: 99%;
    }
    #photos {
        float: left;
        padding-bottom: 20px;
        width: 99%;
    }
    #section-one-content {
        width: 90%;
        margin-top: 90px;
        padding-bottom: 300px;
    }
    #section-two {
        margin-top: -500px;
    }
    #pk-content {
        width: 99%;
    }
    #section-two-content img {
        float: left;
        padding-right: 0;
    }
    #contact-content {
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        width: 350px;
        height: 350px;
    }
    form {
        width: 200px;
        padding-top: 20px;
    }
    .input-form {
        width: 200px;
        padding-left: 10px;
        margin: 10px auto;
    }
    #message {
        height: 50px;
    }
    #submit-button {
        width: 30px;
        height: 30px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
}