body {
    margin: 0;
    padding: 0;
}
header {
    width: 100vw;
    height: 150px;
    background-image: linear-gradient(90deg, #827397, #363062, #827397);
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.item {
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    box-shadow: 5px 5px 10px 1px #000;
}
.item h2 {
    position: absolute;
    display: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.item:hover h2 {
    width: 120px;
    background-color: #fff;
    display: block;
}
.preview {
    width: 120px;
    height: 120px;
}
.image-preview {
    width: 120px;
    height: 120px;
}
section {
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #000;
}
iframe {
    width: 100%;
    height: 100%;
}